html{
	padding:0;
	margin:0;
	height:100%;
}

body{
	background-color: #F3F3F3;
	background-image: url("noise2.png");
	/*padding: 5px 10px 5px 10px;*/
	padding:0;
	margin:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	height:100%;
}

/* Menus */
#menuholder{
	background-image: url("logo_small.png");
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 140px;
	min-height: 95px;
}
#topLevelMenuHolder{padding-top: 18px; margin-left: 20px; margin-bottom: 10px;}
#topLevelMenuHolder a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	text-transform:uppercase;
	outline: none;
}
#topLevelMenuHolder a:hover{
	text-decoration: underline;
	color: #EF8C08;
}
#secLevelMenuHolder{margin-left: 20px; margin-bottom: 10px;}
#secLevelMenuHolder a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	outline: none;
}
#secLevelMenuHolder a:hover{
	text-decoration: underline;
	color: #EF8C08;
}
.smallmenu{margin-bottom: 10px;}
.smallmenu a, #upmenu .ui-button-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.menu_btn_highlight{
	border: 1px solid #FFA500 !important;
	-moz-box-shadow: 0px 0px 2px 0px #FFA500;
    -webkit-box-shadow: 0px 0px 2px 0px #FFA500;
    box-shadow: 0px 0px 2px 0px #FFA500;
	text-shadow: 0px 0px 1px #FFD599;
}

/* Page */
#mainview h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	line-height: 22px;
}
#mainview .pageSeparator{
	border-top: 1px dashed #999999;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Page List */
.listHolder{
	width: 481px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 5px;
}
.listHolder .listItem{	
	margin-bottom: 5px;
}
.listHolder .listItem:last-child{
	margin-bottom: 0px;
}
.listItem .listItemId{
	display: inline-block;
	background-color: #DEDEDE;
	border-radius: 3px;
	padding: 3px;
	width: 30px;
	margin-right: 5px;
}
.listHolder .listItemName{
	display: inline-block;
	background-color: #DEDEDE;
	border-radius: 3px;
	padding: 3px;
	width: 300px;
	margin-right: 5px;
}
.listHolder a{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	width: 50px;
	text-align: center;
}
.listHolder a:hover{
	text-decoration: underline;
}
.listItem .listEdit{
    background: rgb(223, 117, 20);
    color: white;
	margin-right: 5px;
}
.listItem .listDelete{
    background: rgb(202, 60, 60);
    color: white;
}

/* View */
#frameholder{
	width:100%;
	height:100%;
}
#centerframe{
	width: 980px;
	margin:0 auto;
}
#mainview{
	padding:20px;
	background-color: #FFFFFF;
	border-radius: 10px;
	min-height: 200px;
    box-shadow: 0 0 6px 1px #bcbcbc;
}
#testpane{
	margin: 20px 0px 20px 0px;
	padding: 20px;
	/*-webkit-box-shadow:inset 0 0 10px 0 #CCCCCC;
	box-shadow:inset 0 0 10px 0 #CCCCCC;*/
	border-radius: 5px;
		background-image: url("lines3.png");
}
#testpane textarea{
	width: 99%;
	height: 150px;
}
#splitpane{
	margin: 20px 0px 20px 0px;
	padding: 20px;
	/*-webkit-box-shadow:inset 0 0 10px 0 #CCCCCC;
	box-shadow:inset 0 0 10px 0 #CCCCCC;*/
	border-radius: 5px;
	background-image: url("dots_pattern_light.png");
	background-position: 0 -1px;
	-moz-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    -webkit-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    box-shadow:
		inset 0px 0px 4px 0px #dedede;
	position: relative;
}
#treeview{
	width: 48%;
	min-height: 250px;
}
#detailview{
	width: 48%;
	/*min-height: 250px;*/
	position: absolute;
	top: 25px;
	left: 50%;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	/*-moz-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    -webkit-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    box-shadow:
		inset 0px 0px 4px 0px #dedede;*/
	border: 1px solid #dedede;
}
#detailcontent{
	padding: 20px;
}
#detailbuttons{
	padding: 0px 20px 20px 20px;
}
.subsection_title{
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
	font-weight: bold;
	text-transform:uppercase;
	margin: 0 0 20px 0;
	padding: 0px;
}

/* Form jq UI */
.entityForm{
	height: auto !important;
}
.entityForm fieldset{
	border: none;
	margin: 0px;
	padding: 0px;
	margin-top: 7px;
	margin-bottom: 15px;
}
.entityForm label{
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #333333;
}
.entityForm input{
	display: block;
	/*margin-bottom: 10px;*/
	width: 98%;
	padding: 3px;
	
}
.entityForm input[type="checkbox"]{
	display: block;
	padding: 3px;	
	width: inherit;
}

/* Image Upload */
.imageformholder{
	background-color: #f3f3f3;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}
input.fileInputField{
	display: none;
}
label.fileInputLabel{
	/*display: none;*/
}
#imgBrowse{
	margin-top: 10px;
	margin-bottom: 60px;
}
#fileInputArea{
	width: 400px;
	height: 300px;
	border: 1px blue dashed;
}
.third{
	float: left;
	width: 31%;
	margin-right: 15px;
}
#uploadThird1{
	float:left;
}
#uploadThird2{
	margin:0 auto;
}
#uploadThird3{
	float:right;
}
#uploadThird1 button{
	margin-right: 10px;
}
.labelLike{
	padding-bottom: 4px;
}
#prewImageDiv, #origImageDiv, .imageListHolder .listItemImage{
	width: 300px;
	height: 200px;	
	color: #999999;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
#prewImageDiv{
	border: 1px dashed orange;
}
#prewImageDiv.dragIn{
	border: 1px solid orange;
	background-color: #FFDA99;
}
#prewImageDiv.imageIn{
	border: none;
}

/* Image List */
.imageListHolder{
	width: 100%;
	margin-top: 20px;
}
.imageListHolder .imageListItem{	
	display: inline-block;
	width: 294px;
	margin-bottom: 5px;
	background-color: #DEDEDE;
	padding: 5px;
	border-radius: 5px;
	margin-right: 9px;
}
.imageListHolder .listItem:last-child{
	margin-bottom: 0px;
}
.imageListItem .listItemId{
	display: inline-block;
}
.imageListItem .listItemName{
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
}
.imageListItem  .listItemImage{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 294px;
	height: 196px;	
}
.imageListHolder a{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	width: 50px;
	text-align: center;
}
.imageListHolder a:hover{
	text-decoration: underline;
}
.imageListHolder .listEdit{
    background: rgb(223, 117, 20);
    color: white;
	margin-right: 5px;
}
.imageListHolder .listDelete{
    background: rgb(202, 60, 60);
    color: white;
}

/* Nestable */
.dd{
	float: none !important;
}

/* Footer */
#footer{	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #999999;
	margin: 20px;
}
