html{
	padding:0;
	margin:0;
	height:100%;
}

body{
	background-color: #F3F3F3;
	background-image: url("noise2.png");
	/*padding: 5px 10px 5px 10px;*/
	padding:0;
	margin:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	height:100%;
}

/* Menus */
#menuholder{
	background-image: url("logo_small.png");
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 140px;
	min-height: 95px;
}
#topLevelMenuHolder{padding-top: 18px; margin-left: 20px; margin-bottom: 10px;}
#topLevelMenuHolder a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	text-transform:uppercase;
	outline: none;
}
#topLevelMenuHolder a:hover{
	text-decoration: underline;
	color: #EF8C08;
}
#secLevelMenuHolder{margin-left: 20px; margin-bottom: 10px;}
#secLevelMenuHolder a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	outline: none;
}
#secLevelMenuHolder a:hover{
	text-decoration: underline;
	color: #EF8C08;
}
.smallmenu{margin-bottom: 10px;}
.smallmenu a, #upmenu .ui-button-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.menu_btn_highlight{
	border: 1px solid #FFA500 !important;
	-moz-box-shadow: 0px 0px 2px 0px #FFA500;
    -webkit-box-shadow: 0px 0px 2px 0px #FFA500;
    box-shadow: 0px 0px 2px 0px #FFA500;
	text-shadow: 0px 0px 1px #FFD599;
}

/* Page */
#mainview h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	line-height: 22px;
}
#mainview .pageSeparator{
	border-top: 1px dashed #999999;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Footer */
#footer{	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #999999;
	margin: 20px;
}

/* Page List */
.listHolder{
	width: 481px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 5px;
}
.listHolder .listItem{	
	margin-bottom: 5px;
}
.listHolder .listItem:last-child{
	margin-bottom: 0px;
}
.listItem .listItemId{
	display: inline-block;
	background-color: #DEDEDE;
	border-radius: 3px;
	padding: 3px;
	width: 30px;
	margin-right: 5px;
}
.listHolder .listItemName{
	display: inline-block;
	background-color: #DEDEDE;
	border-radius: 3px;
	padding: 3px;
	width: 300px;
	margin-right: 5px;
}
.listHolder a{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	width: 50px;
	text-align: center;
}
.listHolder a:hover{
	text-decoration: underline;
}
.listItem .listEdit{
    background: #F0AD4E;
    color: white;
	margin-right: 5px;
}
.listItem .listDelete{
    background: #D9534F;
    color: white;
}

/* Page List with Image */
.listHolder.haveImagePickerButton{
	width: 600px;
	width: 600px;
}
.listItem .listPickImage{
    background: #5BC0DE;
    color: white;
	width: 100px;
	margin-right: 5px;
}
.imageItemImage{

}
.imageItem{
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	background: #F3F3F3;
	border-radius: 5px;
}
.imageItem .listItemId{
	display: inline-block;
	margin-left: 5px;
	padding: 2px;
}
.imageItem .listItemName{
	display: inline-block;
	margin-left: 10px;
	font-weight: bold;
	padding: 2px;
}
.formholder#imagePickHolder{
	padding-left: 10px;
	padding-right: 0px;
}
.imageItem.imageSelectedNow{
	border: 2px solid #F7AE37;
	background: #F7AE37;
}
.imageItem.imageSelectedNow div{
	color: white;
}

/* View */
#frameholder{
	width:100%;
	height:100%;
}
#centerframe{
	width: 980px;
	margin:0 auto;
}
#mainview{
	padding:20px;
	background-color: #FFFFFF;
	border-radius: 10px;
	min-height: 200px;
    box-shadow: 0 0 6px 1px #bcbcbc;
}
#testpane{
	margin: 20px 0px 20px 0px;
	padding: 20px;
	/*-webkit-box-shadow:inset 0 0 10px 0 #CCCCCC;
	box-shadow:inset 0 0 10px 0 #CCCCCC;*/
	border-radius: 5px;
		background-image: url("lines3.png");
}
#testpane textarea{
	width: 99%;
	height: 150px;
}
#splitpane{
	margin: 20px 0px 20px 0px;
	padding: 20px;
	/*-webkit-box-shadow:inset 0 0 10px 0 #CCCCCC;
	box-shadow:inset 0 0 10px 0 #CCCCCC;*/
	border-radius: 5px;
	background-image: url("dots_pattern_light.png");
	background-position: 0 -1px;
	-moz-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    -webkit-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    box-shadow:
		inset 0px 0px 4px 0px #dedede;
	position: relative;
}
#treeview{
	width: 48%;
	min-height: 250px;
}
#detailview{
	width: 48%;
	/*min-height: 250px;*/
	position: absolute;
	top: 25px;
	left: 50%;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	/*-moz-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    -webkit-box-shadow:
        inset 0px 0px 4px 0px #dedede;
    box-shadow:
		inset 0px 0px 4px 0px #dedede;*/
	border: 1px solid #dedede;
}
#detailcontent{
	padding: 20px;
}
#detailbuttons{
	padding: 0px 20px 20px 20px;
}
.subsection_title{
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
	font-weight: bold;
	text-transform:uppercase;
	margin: 0 0 20px 0;
	padding: 0px;
}

/* Form jq UI */
.entityForm{
	height: auto !important;
}
.entityForm fieldset{
	border: none;
	margin: 0px;
	padding: 0px;
	margin-top: 7px;
	margin-bottom: 15px;
}
.entityForm label{
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #333333;
}
.entityForm input{
	display: block;
	/*margin-bottom: 10px;*/
	width: 98%;
	padding: 3px;
	
}
.entityForm input[type="checkbox"]{
	display: block;
	padding: 3px;	
	width: inherit;
}

/* Image Upload */
.imageformholder{
	background-color: #f3f3f3;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}
input.fileInputField{
	display: none;
}
label.fileInputLabel{
	/*display: none;*/
}
#imgBrowse{
	margin-top: 10px;
	margin-bottom: 60px;
}
#fileInputArea{
	width: 400px;
	height: 300px;
	border: 1px blue dashed;
}
.third{
	float: left;
	width: 31%;
	margin-right: 15px;
}
#uploadThird1{
	float:left;
}
#uploadThird2{
	margin:0 auto;
}
#uploadThird3{
	float:right;
}
#uploadThird1 button{
	margin-right: 10px;
}
.labelLike{
	padding-bottom: 4px;
}
#prewImageDiv, #origImageDiv, .imageListHolder .listItemImage, .imageItemImage{
	width: 300px;
	height: 200px;	
	color: #999999;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
#prewImageDiv{
	border: 1px dashed orange;
}
#prewImageDiv.dragIn{
	border: 1px solid orange;
	background-color: #FFDA99;
}
#prewImageDiv.imageIn{
	border: none;
}

/* Image List */
.imageListHolder{
	width: 100%;
	margin-top: 20px;
}
.imageListHolder .imageListItem{	
	display: inline-block;
	width: 294px;
	margin-bottom: 5px;
	background-color: #DEDEDE;
	padding: 5px;
	border-radius: 5px;
	margin-right: 9px;
}
.imageListHolder .listItem:last-child{
	margin-bottom: 0px;
}
.imageListItem .listItemId{
	display: inline-block;
}
.imageListItem .listItemName{
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
}
.imageListItem  .listItemImage{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 294px;
	height: 196px;	
}
.imageListHolder a{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	width: 50px;
	text-align: center;
}
.imageListHolder a:hover{
	text-decoration: underline;
}
.imageListHolder .listEdit{
    background: rgb(223, 117, 20);
    color: white;
	margin-right: 5px;
}
.imageListHolder .listDelete{
    background: rgb(202, 60, 60);
    color: white;
}

/* my Nestable */
.dd{
	float: none !important;
}
#nestableView button.ui-button{
	margin-top: 20px;
	margin-right: 10px;
}

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
	
	user-select: none;
	cursor: default;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { float: left; width: 48%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }
